<div>

<div>
        <p class=" col-md-11 chiqui "> 
             Si haces clic en "Aceptar" te registraras en SUN&#174; y,
              por lo tanto, aceptaras sus <a  class="link" routerLink="/terminos-condiciones"> 
                <b>Términos y Condiciones </b> </a> y <a class="link" routerLink="/politicaPrivacidad"> 
                    <b>Políticas de Privacidad. </b></a> En SUN&#174; su información es totalmente privada y 
                    jamás será compartida con terceros. </p>
        
</div>



</div>