<div class="container mt-4 principal">

    <h1 class="text-center">Pago Seguro</h1>

    <h2>Agregar tarjeta de débito o crédito</h2>

    <form [formGroup]="formPay" class="mt-4" style="margin-bottom: 10%;">
        <div class="form-row">
            <div class="form-group col-md-3">
                <mat-form-field>
                    <mat-label>Confirma tu tipo de membresía</mat-label>
                    <mat-select formControlName="plan">
                        <mat-option *ngFor="let plan of planes" [value]="plan.id">
                            {{ plan.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Error('plan')?.errors?.required">El campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field >
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field >
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="aPaterno">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field >
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="aMaterno">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Número de tarjeta de débito o crédito*</mat-label>
                    <input matInput placeholder="0000 0000 0000 0000" formControlName="numeroTarjeta" [OnlyNumber]="true">
                </mat-form-field>
            </div>

            <div class="form-group col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Mes</mat-label>
                    <mat-select formControlName="mes">
                        <mat-option *ngFor="let mes of meses" [value]="mes.nombre">
                            {{ mes.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Año</mat-label>
                    <mat-select formControlName="anio">
                        <mat-option *ngFor="let anio of anios" [value]="anio.nombre">
                            {{ anio.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Código de Seguridad*</mat-label>
                    <input matInput placeholder="CVV / CVC" formControlName="ccv" maxlength="4" [OnlyNumber]="true">
                </mat-form-field>
            </div>
        </div>
        <h2>Dirección relacionada a tu tarjeta</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field>
                    <mat-label>Calle*</mat-label>
                    <input matInput placeholder="" formControlName="calle">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field>
                    <mat-label>Núm. exterior*</mat-label>
                    <input matInput placeholder="" formControlName="numExt">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field>
                    <mat-label>Núm. interior</mat-label>
                    <input matInput placeholder="" formControlName="numExt">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <mat-form-field>
                    <mat-label>Colonia *</mat-label>
                    <input matInput placeholder="" formControlName="colonia">
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field>
                    <mat-label>Código Postal *</mat-label>
                    <input matInput placeholder="5 dígitos" formControlName="cp">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field>
                    <mat-label>Delegación o Municipio *</mat-label>
                    <input matInput placeholder="" formControlName="delegacion">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-label>Ciudad*</mat-label>
                    <input matInput placeholder="" formControlName="ciudad">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-label>Estado*</mat-label>
                    <input matInput placeholder="" formControlName="estado">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-label>Teléfono*</mat-label>
                    <input matInput placeholder="" formControlName="telefono">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-label>Correo*</mat-label>
                    <input matInput placeholder="" formControlName="mail">
                </mat-form-field>
            </div>
        </div>
        <div class="submitBtnContainer mb-4">
            <button mat-stroked-button class="mr-3" color="primary" routerLink="/user/profile">Regresar</button>
            <button mat-raised-button color="primary" (click)="tokenizar()">Pagar</button>
          
        </div>

    </form>
</div>