<!-- <div *ngIf="mostrarlogin" class="loginS"> -->
    <video src="https://storage.googleapis.com/com-ies-sun-storage/presentacion3.mp4" muted autoplay loop playsinline></video>
    <script>
        window.addEventListener('load', async () => {
  let video = document.querySelector('video[muted][autoplay]');
  try {
    await video.play();
  } catch (err) {
    video.controls = true;
  }
});
    </script>
    <div class="loginS">

    <div *ngIf="mostrarlogin" class="contenidoLogin ">
        <div class="centrar mt-2">
            <h2> Login SUN</h2>
        </div>

        <div class="form-group row sesionSun">
            <div class="col-md-9">
                <button class="btn btn-block btn-social btn-facebook " (click)="loginFacebook()">
                    <span class="fa fa-facebook "></span>
                    &nbsp;Login con Facebook
                </button>
            </div>
        </div>
        <br>
        <div class="form-group row sesionSun">
            <div class="col-md-9">
                <button class="btn btn-block btn-social btn-google " (click)="loginGoogle()">
                    <span class="fa fa-google"></span>&nbsp;&nbsp;&nbsp;
                    Login con Google
                </button>
            </div>
        </div>

        <div class="centrar login" style="margin-bottom:-7% ;">
            <h3>ó</h3>

        </div>
        <div class="centrar">
            <h3>Accede con tu usuario</h3>
        </div>
        <div style="padding:0% 13%;  z-index: 9 !important;">
            <mat-form-field class="full-width-input ">
                <input matInput placeholder="Ingresa tu correo electronico" formControlName="email">
                <mat-error>
                    Ingresa un correo valido
                </mat-error>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width-input ">

                <input style="z-index: 9 !important;" matInput placeholder="Ingresa tu contraseña"
                    [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-error>
                    Ingresa mínimo 6 dígitos
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <mat-card-actions class="m-0">
            <div class="form-group row sesionSun">
                <div class="col-md-7  ">
                    <button class="btn btn-color btn-block" (click)="onLoginCorreo()">
                        INICIAR SESIÓN
                    </button>
                </div>
            </div>
            <p class="form--login__links sesionSun olvideC">
                <a routerLink="/user/login" (click)="openModarRecuperarContra()">Olvide mi
                    contraseña &nbsp;</a><br>
            </p>


        </mat-card-actions>

    </div>


</div>
<div class="modalRedes">

    <div class="x4"> <a href="mailto:contacto@ies-systems.com" target="_blank"><i
                class="fas fa-envelope-square fa-3x icon mt-2"></i></a></div>
    <div class="x4">
        <a href="https://www.facebook.com/salvaunnegocio-633808747242626" target="_blank"><i
                class="fab fa-facebook-square fa-3x icon "></i></a>
    </div>
    <div class="x4">
        <a href="https://www.facebook.com/salvaunnegocio-633808747242626" target="_blank"><i
                class="fab fa-linkedin fa-3x icon"></i></a>
    </div>
    <div class="x4">
        <a href="https://www.instagram.com/salvaunnegocio/" target="_blank"><i
                class="fab fa-instagram fa-3x icon"></i></a>
    </div>











</div>

<video  #myVideo class="presentacion_video" width="100%" height=""
    src="https://storage.googleapis.com/com-ies-sun-storage/presentacion3.mp4"  type="video/mp4" poster="assets/img/load.PNG">
</video>
<!-- <button #buttonVideo (click)="playVideo()">click</button> -->




<!-- sec1 -->
<div class="container x1">
    <div class="row " >
        <div class="col-md-12 centrar " >
            <div class="select1">
                <div class="centrar ">
                    <div style="background-color: rgba(255, 255, 255); text-align: center; border-radius: 4px;  z-index: 9;  "
                        class="x2">
                        <button  style="margin: 10%; width: 10%; height: 30px; z-index: 9;">play </button>
                        <h1 class="txx"> ¿Quiénes somos?</h1>
                        <br>
                        <p> S.U.N. (Salva Un Negocio)
                            <br>
                            Nuestro objetivo es ayuda a crecer tu negocio y a encontrar inversionistas para expandir tus
                            metas.

                            Salva un negocio te comprende en todo momento, incluso en la venta o traspaso de
                            inmobiliario, creando tu propia propuesta.
                            <br>
                            Nuestros inversionistas tienen la posibilidad de ver tu proyecto y contactarte
                        </p>
                        <br>
                        <br>
                        <h1 class="">Nuestra misión</h1>
                        <p> Es ayudar tanto a inversionistas como empresarios a contactarse entre si <br> para poder
                            encontrar el negocio ideal en el cual invertir. Apoyando a toda las empresas emergentes que
                            podamos.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <img class="x1img"  src="assets/img/Grupo 5.png" alt="">
            <br>
        </div>
    </div>
</div>


<script>
    function entra() {
     console.log("entroo");
     var video = document.getElementById("videoId");
     video.play(); 
    }
 
     function toggleMute() {
         console.log("entroo");
         var video = document.getElementById("videoId");
 
         if (video.muted) {
             video.muted = false;
         } else {
             debugger;
             video.muted = true;
             video.play()
         }
 
     }
     $(document).ready(function () {
         setTimeout(toggleMute, 7000);
     })
 </script>


<div class="rowcontainer">
    <!-- sec2 -->
    <div class="row mb-5">
        <div class="col-md-6 center">
            <a routerLink="/user/register/investment" class="txtRegistrar">
                <h1>Empresario</h1>
            </a>
        </div>
        <div class="col-md-6 ml-5"></div>
        <div class="col-md-6">
            <div class="c-item ml-3 mr-3 ">
                <div class="text ml-3 mr-3 mb-3">
                    <!-- info -->
                    <p>En SUN nos esforzamos por ayudar a emprendedores como tu, que día a día buscas alcanzar tus
                        metas y lograr tus sueños.
                        Cada emprendedor cuenta con necesidades diferentes y es por ello que SUN te proporciona diversas
                        estrategias para tu negocio.
                    </p>
                    <img style="width: 100%;" src="assets/img/Grupo 3.png" alt="">
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-5">
            <p><b>Todo emprendedor necesita APOYO, nos enfocamos en darte la ayuda que mereces en cada momento
                    en el que se encuentre tu negocio;
                </b></p>
            <div>
                <a routerLink="/user/register/investment" class="txtRegistrar">

                </a>
                <p>1. Quieres hacer crecer tu negocio y tus ingresos, pero no sabes como? <a
                        routerLink="/user/register/investment" class="txtRegistrar">
                        <b>ANUNCIATE</b></a> y consigue
                    un <a routerLink="/user/register/investment" class="txtRegistrar">
                        <b>SOCIO</b></a> interesado.
                </p>
                <p> 2. ¿Tienes un negocio estable pero ya no puedes invertir ?
                    <a routerLink="/user/register/investment" class="txtRegistrar"><b>!TRASPASALO!</b></a>
                </p>
                <p>3. A veces las cosas no salen como lo esperabas y quieres vender el morio de tu negocio,
                    Encuentra un <a routerLink="/user/register/investment" class="txtRegistrar">
                        COMPRADOR.
                    </a>
                </p>
            </div>
            <!--    <div>
                <a routerLink="/user/register/investment" class="txtRegistrar" *ngIf="ocultarRegistro">
                    <p>Registrarme como Empresario <i class="fas fa-angle-double-right"></i></p> </a>
            </div> -->
            <br>
        </div>
       
    </div>

    <!-- secc3 -->
    <div class="row mt-5">
        <div class="col-md-5 ml-5"></div>
        <div class="col-md-6 center"><a routerLink="/user/register/investment" class="txtRegistrar">
                <h1>Inversionistas</h1> </a>
        </div>

        <div class="col-md-6 pl-3 pr-3" >
            <p><b> ¡Gracias a SUN y la transformación digital , te demostramos que invertir en Negocios, es muy
                    fácil! </b></p>

            <p>1. Revisa las Ventas y la Utilidad de los negocios disponibles y hazte <a
                    routerLink="/user/register/investment" class="txtRegistrar"><b>SOCIO.</b></a></p>
            <p> 2. Compra un negocio en <a routerLink="/user/register/investment" class="txtRegistrar">
                    <b>TRASPASO</b></a> y sácalo adelante tu.</p>
            <p> 3. Compra mobiliario y equipo para tu negocio en <a routerLink="/user/register/investment"
                    class="txtRegistrar"><b>CRECIMIENTO.</b></a></p>
            <br>
            <p> <a routerLink="/user/register/investment" class="txtRegistrar">
                    <b>!NOSOTROS TE CONTACTAMOS CON LAS PERSONAS INDICADAS PARA TI!</b></a>
            </p>
            <!--      <div>
                <a routerLink="/user/register/investment" class="txtRegistrar " *ngIf="ocultarRegistro">
                    <p> Registrarme como Inversionista <i class="fas fa-angle-double-right"></i></p></a>
            </div> -->

        </div>
        <div class="col-md-5 ">
            <div class="c-item ml-2 mr-2 ">
                <div class="text ">
                    <p style="margin-bottom: 40px;">A menudo se cree que invertir es un proceso complicado, fuera de
                        nuestro alcance.
                    </p>
                    <img style="width: 100%;" src="assets/img/Grupo 1.png" alt="">

                    <br>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="movimientoSeccion">
    <div class="tirasMov1 "></div>
    <div style="height: 38px;"></div>
    <div class="centrar centM ">
        <img style="width: 30%; " src="assets/img/Original.png" alt="">
    </div>
    <div class="tirasMov2 mt-2"></div>
</div>