<section id="pantalla-dividida">
    <div class="izquierda">
        <div>
            <div class="reasons text-lg-center">
                <img src="assets/img/log.png">
            </div>
        </div>
    </div>
    <div class="izquierda">
        <div>
            <div>
                <div style="color: white;">

                    <mat-tab-group style="font-size: medium;" mat-align-tabs="center" [backgroundColor]="bgColor" [color]='color'>

                        <mat-tab label="Nuestra misión">
                            <div class="mt-5 container">
                                <h1>Nuestra misión</h1>El ayudar a empresarios e inversionistas con sus negocios.</div>
                        </mat-tab>
                        <mat-tab label="¿Quiénes somos?">
                            <div class="mt-5 container">
                                <h1>¿Quiénes somos?</h1>S.U.N.(Salva Un Negocio) empresa dedicada a ayudar al empresario con su negocio y de igual manera al inversionista en comprar mobiliario o ayudar a un negocio.</div>
                        </mat-tab>
                        <mat-tab label="Empresario">
                            <div class="mt-5 container">
                                <h1>Empresario.</h1>El empresario tiene las siguientes opciones de:
                                <br><br>
                                <ul>
                                    <li>Liquidar su negocio.</li>
                                    <li>Traspasar tu negocio.</li>
                                    <li>Vender tu equipo.</li>
                                </ul>
                            </div>
                        </mat-tab>
                        <mat-tab label="Inversionista">
                            <div class="mt-5 container">
                                <h1>Inversionista.</h1>El inversionista puede apoyar a varios negociosos dependiendo de la membresia que posee, tambien puede realizar lo siguiente:
                                <br><br>
                                <ul>
                                    <li>Puedes invertir en un negocio de tu interes.</li>
                                    <li>Para el traspaso de un negocio te ponemos en contacto con negocios interesados.</li>
                                    <li>Comprar equipo o moviliario.</li>
                                </ul>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>
        </div>
    </div>


</section>