p{
    text-align: justify;
    margin: 10px 0 16px;
  }
  .btnM{
    display: flex;
    justify-content: center;
   /*  justify-content: flex-end; */
  
   background: #57409F;
   color: #fff;
   
  }
  .divM{
    display: flex;
    justify-content: center;
    width: 100%;
    
  }