<div class="container">
    <div class="signin-content">

        <mat-card class="example-card">
            <h2 style="text-align: center;">Mis Publicaciones</h2>
            <mat-card-content>
                <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

                    <mat-tab label="Tabla de Liquidez">
                        <div class="table-responsive">
                            <div *ngIf="resultados?.length==0" class="alert alert-info">
                                No hay registros en la base de datos
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-color">
                                        <th *ngFor="let head of headElements" scope="col">
                                            <p class="text-color"> {{head}} </p>
                                        </th>
                                        <th scope="col"> &nbsp; </th>
                                        <th scope="col"> &nbsp; </th>
                                    </tr>
                                </thead>
                                <tbody class="tablaCuerpo mb-4">
                                    <tr *ngFor="let liq of resultados">
                                        <td>{{liq.nombre}}</td>
                                        <td>{{liq.estado}}</td>
                                        <td>{{liq.municipio}}</td>
                                        <td>{{liq.ubicacion}}</td>
                                        <td>{{liq.descripcion}}</td>
                                        <td>{{liq.tipoSocio}}</td>
                                        <td>{{liq.tipoNegocio}}</td>
                                        <td>{{liq.monto | currency}}</td>
                                        <td>
                                            <div class="mt-2">
                                                <span><i class="fas fa-edit mr-3 cursor" (click)="openDialog(liq)"></i></span>
                                                <span><i class="fas fa-trash cursor" (click)="eliminarLiquidez(liq)"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn-colorRe" mat-raised-button (click)="verDetalles(liq, 'liquidez')"><i class="fas fa-info-circle"></i> Detalles</button><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tabla de Traspaso">
                        <div class="table-responsive">
                            <div *ngIf="resultadosT?.length==0" class="alert alert-info">
                                No hay registros en la base de datos
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-color">
                                        <th *ngFor="let head of headElementsTras" scope="col">
                                            <p class="text-color"> {{head}} </p>
                                        </th>
                                        <th scope="col"> &nbsp; </th>
                                        <th scope="col"> &nbsp; </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liq of resultadosT">
                                        <td>{{liq.nombre}}</td>
                                        <td>{{liq.estado}}</td>
                                        <td>{{liq.municipio}}</td>
                                        <td>{{liq.ubicacion}}</td>
                                        <td>{{liq.descripcion}}</td>
                                        <td>{{liq.gastosOperacionMensual | currency}}</td>
                                        <td>{{liq.tipoNegocio}}</td>
                                        <td>{{liq.ventaMensualPromedio | currency}}</td>
                                        <td>{{liq.competidores}}</td>
                                        <td>
                                            <button class="btn-colorRe" mat-raised-button ngClass (click)="verDetalles(liq, 'traspaso')"><i class="fas fa-info-circle"></i> Detalles</button><br>

                                        </td>
                                        <td>
                                            <span><i class="fas fa-edit" (click)="openDialog(liq)"></i></span>
                                            <span><i class="fas fa-trash" (click)="eliminarLiquidez(liq)"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span>GOM - Gastos de Operacion Mensual</span> <br>
                            <span>VMP - Venta Mensual Promedio</span>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tabla de Equipamiento">
                        <div class="table-responsive">
                            <div *ngIf="resultadosEquipamiento?.length==0" class="alert alert-info">
                                No hay registros en la base de datos
                            </div>
                            <table class="table table-striped ">
                                <thead>
                                    <tr class="table-color">
                                        <th *ngFor="let head of headElementsEquipa" scope="col">
                                            <p class="text-color"> {{head}} </p>
                                        </th>
                                        <th scope="col"> &nbsp; </th>
                                        <th scope="col"> &nbsp; </th>
                                        <th scope="col"> &nbsp; </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liq of resultadosEquipamiento">
                                        <td>{{liq.nombre}}</td>
                                        <td>{{liq.estado}}</td>
                                        <td>{{liq.municipio}}</td>
                                        <td>{{liq.ubicacion}}</td>
                                        <td>{{liq.descripcion}}</td>
                                        <td>{{liq.tipoNegocio}}</td>
                                        <td>{{liq.monto | currency}}</td>
                                        <td>{{liq.competidores}}</td>
                                        <td>
                                            <button class="btn-colorRe" mat-raised-button ngClass (click)="verDetalles(liq, 'equipamiento')"><i class="fas fa-info-circle"></i>Detalles</button><br>
                                        </td>
                                        <td>
                                            <span><i class="fas fa-edit" (click)="openDialog(liq)"></i></span>
                                            <span><i class="fas fa-trash" (click)="eliminarLiquidez(liq)"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>