<div class="main-container">
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="formRecuperarContra">
            <div class="modal-header">
                <div>
                    <h2 class="modal-title" id="modalMyProductsLabel">Restablecer contraseña</h2>
                    <p>Puedes cambiar la contraseña por razones de seguridad o restablecerla si es que la olvidaste.</p>
                    <p>Si olvidaste tu nombre de usuario o contraseña, o no puedes acceder o si deseas restablecerla realiza estos pasos para recuperar tu Cuenta de SUN.
                       </p>
                       <ul>
                           <li> Te haremos llegar un correo con una nueva contraseña para tu cuenta.
                           .</li>
                           <li> Esta contraseña te servirá para poder iniciar sesión en SUN, esta es generada de forma automática y te recomendamos actualizarla en el apartado de perfil</li>
                       </ul>
                    
                </div>
            </div>


            <div class="form-row reasons mt-3">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width col-md-12">
                        <mat-label>Ingresa tu email</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="modal-footer">
                <div class="example-button-row">
                    <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
                    <button class="ml-3" (click)="recuperarContrasenia()" [disabled]="formRecuperarContra.invalid" mat-raised-button>Enviar</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>