<div class="container">
    <div class="signin-content">
        <mat-card class="example-card">
            <mat-card-content>
                <form [formGroup]="formLogin">
                    <h1>Bienvenido a SUN</h1>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Ingresa tu correo electronico" formControlName="email">
                        <mat-error>
                            Ingresa un correo valido
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <mat-label>Ingresa tu contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <mat-error>
                            Ingresa mínimo 8 dígitos
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
                    </mat-form-field>
                    <mat-card-actions>
                        <div class="form-group row">
                            <div class="col-md-4 ">
                                <button class="btn btn-color btn-block" (click)="onLoginCorreo()" [disabled]="formLogin.invalid">
                          INICIAR SESIÓN
                      </button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-social btn-facebook" (click)="loginFacebook()">
                          <span class="fa fa-facebook"></span>
                          FACEBOOK
                      </button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-social btn-google" (click)="loginGoogle()">
                          <span class="fa fa-google"></span>
                          GOOGLE
                      </button>
                            </div>
                        </div>

                        <p class="form--login__links">
                            <a routerLink="/user/register">Olvide mi contraseña</a><br>
                            <a routerLink="/user/register/investment">Registarme como Inversionista</a> <br>
                            <a routerLink="/user/register/entrepreneur">Registarme como Empresario</a> <br>
                        </p>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>