<div class="main-container">
    <h3>Encuentra el mejor negocio</h3>
</div>

<form [formGroup]="formMember">
    <div class="main-container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Negocio*</mat-label>
                    <mat-select formControlName="tipoNegocio">
                        <mat-option [value]="tipoNegocio.tipoNegocio" *ngFor="let tipoNegocio of catTipoNegocio">{{tipoNegocio.tipoNegocio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Socio*</mat-label>
                    <mat-select formControlName="tipoSocio">
                        <mat-option [value]="tipoSocio.tipoSocio" *ngFor="let tipoSocio of catTipoSocio">{{tipoSocio.tipoSocio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                    <mat-label>Cantidad de Inversión</mat-label>
                    <input matInput #input maxlength="10" placeholder="$ 5,000.00" formControlName="precioHasta">
                </mat-form-field>
            </div>

            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Estado*</mat-label>
                    <mat-select formControlName="estado" (selectionChange)="obtenerMunicipios()">
                        <mat-option [value]="estado.nombreEstado" *ngFor="let estado of catEstados">{{estado.nombreEstado}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Municipio*</mat-label>
                    <mat-select formControlName="municipio">
                        <mat-option [value]="municipio.nombreMunicipio" *ngFor="let municipio of catMunicipios">{{municipio.nombreMunicipio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <!-- <div class="form-row">
        <div class="form-group col-md-6">
            <mat-label>Mas de un socio: </mat-label> <br>
            <mat-radio-group aria-label="Select an option" formControlName="masSocio">
                <mat-radio-button value="1">Si</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                <mat-label>Antigüedad de publicación</mat-label>
                <textarea matInput placeholder="Describe detalladamente" formControlName="antiguedadPubl"></textarea>
            </mat-form-field>
        </div>
      </div> -->
        <ng-container *ngIf="formMember.get('tipoNegocio').value == 'Otros'">
            <div class="form-group">
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                    <mat-label>FILTROS AVANZADOS </mat-label>
                    <textarea matInput placeholder="Describe detalladamente" formControlName="ubicacion"></textarea>
                </mat-form-field>
            </div>
        </ng-container>
        <div class="form-group">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                <mat-label>Antigüedad de publicación</mat-label>
                <textarea matInput placeholder="Describe detalladamente" formControlName="antiguedadPubl"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="text-lg-right">
        <button mat-stroked-button class="btn-colorRe" (click)="consultar()">Ver Resultados </button>

    </div>
</form>
<div class="" style=" width: 100%; " >
  <div class="signin-content">


      <div class="example-card">
          <mat-card-content>
              
      <mat-form-field>
          <mat-label style="font-size: 18px; color:    #57409F;">Buscar</mat-label>
          <input class="form-control mr-sm-4" type="text" placeholder="Buscar negocio" matInput
              (keyup)="buscarHeroe(buscarTexto.value)" #buscarTexto>
      </mat-form-field>
              <mat-tab-group animationDuration="0ms"  mat-align-tabs="center">
                  <mat-tab label="Tabla de Liquidez">
                      <div class="table-responsive">
                          <div class="m-5 buscador-liquides">
                               <div class="m-4 ">
                                   <div class="row animated fadeIn fast" *ngIf="bliq.length == 0 && vacio ==false">
                                       <div class="col-md-12 mb-4">
                                           <div class="alert alert-info" role="alert">
                                               No existen resultados con el término: <u> <b>{{ termino }} </b></u>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row m-4" *ngIf="bliq.length == 0">
                                       <div class="col-md-4 mb-4" *ngFor="let animal of animales">
                                           <mat-card class="example-card container">
                                               <mat-card-header>
                                                   <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                           alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                   <mat-card-title>{{animal.nombre}}</mat-card-title>
                                                   <mat-card-subtitle >{{animal.ubicacion}}</mat-card-subtitle>
                                               </mat-card-header>
                                               <img mat-card-image [src]="animal.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px; ">
                                               <mat-card-content>
                                                   <p>
                                                       {{animal.descripcion}}
                                                   </p>
                           
                                               </mat-card-content>
                                               <mat-card-actions>
                                                   <button mat-button (click)="perfil(animal.id)">Contactar</button>
                                               </mat-card-actions>
                                           </mat-card>
                                       </div>
                           
                                   </div>
                                   <div class="row m-4">
                                       <!--      Sin resultados -->
                           
                           
                                       <div class="col-md-4 mb-4" *ngFor="let foo of bliq">
                                           <mat-card class="example-card">
                                               <mat-card-header>
                                                   <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                           alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                   <mat-card-title>{{foo.nombre}}</mat-card-title>
                                                   <mat-card-subtitle>{{foo.ubicacion}}</mat-card-subtitle>
                                               </mat-card-header>
                                               <img mat-card-image [src]="foo.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
                                               <mat-card-content>
                                                   <p matLine>
                                                       {{foo.descripcion}}
                                                   </p>
                                               </mat-card-content>
                                               <mat-card-actions>
                                                   <button mat-button (click)="perfil(foo.id)">Contactar</button>
                                               </mat-card-actions>
                                           </mat-card>
                                       </div>
                           
                                   </div>
                           
                               </div>
                           
                           </div>
                      </div>
                  </mat-tab>
                  <mat-tab label="Tabla de Traspaso">
                      <div class="table-responsive">
                         
                          <div class="m-5 buscador-traspasos">
                              <div class="m-4 ">
                                  <div class="row animated fadeIn fast" *ngIf="btras.length == 0 && vacio ==false">
                                      <div class="col-md-12 mb-4">
                                          <div class="alert alert-info" role="alert">
                                              No existen resultados con el término: <u> <b>{{ termino }} </b></u>
                                          </div>
                                      </div>
                                  </div>
                          
                                  <div class="row m-4" *ngIf="btras.length == 0">
                          
                                      <div class="col-md-4 mb-4" *ngFor="let dato of traspasos">
                                          <mat-card class="example-card" >
                                              <mat-card-header>
                                                  <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                          alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                  <mat-card-title>{{dato.nombre}}</mat-card-title>
                                                  <mat-card-subtitle>{{dato.ubicacion}}</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image [src]="dato.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px; ">
                                              <mat-card-content>
                                                  <p>
                                                      {{dato.descripcion}}
                                                  </p>
                          
                                              </mat-card-content>
                                              <mat-card-actions>
                                                  <button mat-button (click)="enviarTraspaso(dato.id)">Contactar</button>
                                              </mat-card-actions>
                                          </mat-card>
                                      </div>
                          
                                  </div>
                                  <div class="row m-4">
                                      <!--      Sin resultados -->
                          
                          
                                      <div class="col-md-4 mb-4" *ngFor="let dato of btras">
                                          <mat-card class="example-card" >
                                              <mat-card-header>
                                                  <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                          alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                  <mat-card-title>{{dato.nombre}}</mat-card-title>
                                                  <mat-card-subtitle>{{dato.ubicacion}}</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image [src]="dato.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
                                              <mat-card-content>
                                                  <p matLine>
                                                      {{dato.descripcion}}
                                                  </p>
                                              </mat-card-content>
                                              <mat-card-actions>
                                                  <button mat-button (click)="enviarTraspaso(dato.id)">Contactar</button>
                                              </mat-card-actions>
                                          </mat-card>
                                      </div>
                                  </div>
                          
                              </div>
                          
                          </div>
                          <span>GOM - Gastos de Operacion Mensual</span> <br>
                          <span>VMP - Venta Mensual Promedio</span>
                      </div>
                  </mat-tab>
                  <mat-tab label="Tabla de Equipamiento">
                      <div class="table-responsive">
                          <div class="m-5 buscador-equipamientos">
                             <!--  <mat-form-field>
                                  <mat-label style="font-size: 18px;">Buscar</mat-label>
                                  <input class="form-control mr-sm-4" type="text" placeholder="Buscar negocio" matInput
                                      (keyup)="buscarHeroe(buscarTexto.value)" #buscarTexto>
                              </mat-form-field>
                           -->
                          
                              <div class="m-4 ">
                                  <div class="row animated fadeIn fast" *ngIf="bequip.length == 0 && vacio ==false">
                                      <div class="col-md-12 mb-4">
                                          <div class="alert alert-info" role="alert">
                                              No existen resultados con el término: <u> <b>{{ termino }} </b></u>
                                          </div>
                                      </div>
                                  </div>
                          
                                  <div class="row m-4" *ngIf="bequip.length == 0">
                          
                                      <div class="col-md-4 mb-4" *ngFor="let animal of equipamiento">
                                          <mat-card class="example-card">
                                              <mat-card-header>
                                                  <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                          alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                  <mat-card-title>{{animal.nombre}}</mat-card-title>
                                                  <mat-card-subtitle>{{animal.ubicacion}}</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image [src]="animal.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px; ">
                                              <mat-card-content>
                                                  <p>
                                                      {{animal.descripcion}}
                                                  </p>
                          
                                              </mat-card-content>
                                              <mat-card-actions>
                                                  <button mat-button (click)="enviarEquipamento(animal.id)">Contactar</button>
                                              </mat-card-actions>
                                          </mat-card>
                                      </div>
                          
                                  </div>
                                  <div class="row m-4">
                                      <!--      Sin resultados -->
                          
                          
                                      <div class="col-md-4 mb-4" *ngFor="let dato of bequip">
                                          <mat-card class="example-card">
                                              <mat-card-header>
                                                  <div mat-card-avatar class="example-header-image"><img src="../../../../assets/img/ropa.jpg"
                                                          alt="" style="width: 40px; height: 40px; border-radius: 25px;"></div>
                                                  <mat-card-title>{{dato.nombre}}</mat-card-title>
                                                  <mat-card-subtitle>{{dato.ubicacion}}</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image [src]="dato.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
                                              <mat-card-content>
                                                  <p matLine>
                                                      {{dato.descripcion}}
                                                  </p>
                                              </mat-card-content>
                                              <mat-card-actions>
                                                  <button mat-button (click)="enviarEquipamento(dato.id)">Contactar</button>
                                              </mat-card-actions>
                                          </mat-card>
                                      </div>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                                  </div>
                          
                              </div>
                          
                          </div>
                      </div>

                  </mat-tab>
              </mat-tab-group>
          </mat-card-content>
      </div>
  </div>
</div>

<!-- edvv v eddv         edeedee      -->
