<div class="main-container">
    <h3>Encuentra el mejor negocio</h3>
</div>

<form [formGroup]="formMember">
    <div class="main-container">
        <div class="form-group">
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Ubicación*</mat-label>
            <input matInput placeholder="Ubicacion" formControlName="ubicacion">
          </mat-form-field>
        </div>
      <div class="form-row">
        <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Negocio*</mat-label>
                    <mat-select formControlName="tipoNegocio">
                        <mat-option [value] ="tipoNegocio.tipoNegocio" *ngFor="let tipoNegocio of catTipoNegocio">{{tipoNegocio.tipoNegocio}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Tipo de Socio*</mat-label>
              <mat-select formControlName="tipoSocio">
                  <mat-option [value] ="tipoSocio.tipoSocio" *ngFor="let tipoSocio of catTipoSocio">{{tipoSocio.tipoSocio}}</mat-option>
              </mat-select>
          </mat-form-field>
  </div>
        <div class="form-group col-md-4">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
              <mat-label>Cantidad de Inversión</mat-label>
              <input matInput #input maxlength="10" placeholder="$ 5,000.00" formControlName="precioHasta">
            </mat-form-field>
          </div>
      </div>
      <!-- <div class="form-row">
        <div class="form-group col-md-6">
            <mat-label>Mas de un socio: </mat-label> <br>
            <mat-radio-group aria-label="Select an option" formControlName="masSocio">
                <mat-radio-button value="1">Si</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                <mat-label>Antigüedad de publicación</mat-label>
                <textarea matInput placeholder="Describe detalladamente" formControlName="antiguedadPubl"></textarea>
            </mat-form-field>
        </div>
      </div> -->
      <ng-container *ngIf="formMember.get('tipoNegocio').value == 'Otros'">      
      <div class="form-group">
        <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
          <mat-label>FILTROS AVANZADOS </mat-label>
          <textarea matInput placeholder="Describe detalladamente" formControlName="ubicacion"></textarea>
        </mat-form-field>
      </div>
    </ng-container>
      <div class="form-group">
        <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
          <mat-label>Antigüedad de publicación</mat-label>
          <textarea matInput placeholder="Describe detalladamente" formControlName="antiguedadPubl"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="text-lg-right">
        <button mat-stroked-button class="btn-colorRe" (click)="consultar()">Ver Resultados x</button>

    </div>
</form>
<button mat-stroked-button class="btn-colorRe" (click)="consultar()"> x</button>

<!-- dddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxddddddddddd -->

