<div class="container">
    <div class="signin-content">
        <mat-card class="example-card">
            <mat-card-content>
                <form [formGroup]="formRegister">
                    <h1>Registrate en SUN como INVERSIONISTA</h1>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input colo">
                                <input matInput placeholder="Ingresa tu nombre" formControlName="nombre">
                                <mat-error>Minimo de 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <input matInput placeholder="Ingresa tu apellido paterno" formControlName="apellidoPaterno" minlength="4">
                                <mat-error>Minimo de 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <input matInput placeholder="Ingresa tu apellido materno" formControlName="apellidoMaterno" minlength="4">
                                <mat-error>Minimo de 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <input matInput placeholder="Ingresa tu telefono" [OnlyNumber]="true" formControlName="telefono" maxlength=10>
                                <mat-error>Deben ser 10 digitos</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <input matInput placeholder="Ingresa tu correo electronico " formControlName="email">
                                <mat-error>Ingresa un formato correcto</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <input matInput type="password" placeholder="Ingresa tu contraseña" formControlName="password" minlength="8">
                                <mat-error>Minimo de 8 digitos</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="full-width-input">
                                <mat-label>Tipo de membresía</mat-label>
                                <mat-select formControlName="membresia">
                                    <mat-option value=1>Plan estándar</mat-option>
                                    <mat-option value=2>Plan destacato</mat-option>
                                    <mat-option value=3>Plan premium</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-card-actions>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <button class="btn btn-color btn-block" (click)="registrar()" [disabled]="formRegister.invalid">
                                    REGISTRAR
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-social btn-facebook" (click)="registroFacebook()">
                                    <span class="fa fa-facebook" ></span>
                                    FACEBOOK
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-social btn-google" (click)="registroGoogle()">
                                    <span class="fa fa-google" ></span>
                                    GOOGLE
                                </button>
                            </div>

                        </div>
                        <p class="form--login__links">
                            <a routerLink="/user/login">Ir al login</a> <br>
                        </p>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>