<div class="main-container">
    <h3 class="mb-0">Compra el mejor equipo para tu negocio</h3>
    <div *ngIf="mos=='oculto'" ><h3 (click)="mos='visible'" class="flecha menos"> Buscar</h3><i (click)="mos='visible'" class="fas fa-angle-down fa-4x centrar flecha  "></i></div>

</div>

<form [formGroup]="formSaleEq" [ngClass]="mos">
  <div class="main-container" >

    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado" (selectionChange)="obtenerMunicipios()">
            <mat-option [value]="estado.nombreEstado" *ngFor="let estado of catEstados">{{estado.nombreEstado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="municipio">
            <mat-option [value]="municipio.nombreMunicipio" *ngFor="let municipio of catMunicipios">
              {{municipio.nombreMunicipio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Tipo de Negocio</mat-label>
          <mat-select formControlName="tipoNegocio">
            <mat-option [value]="tipoNegocio.tipoNegocio" *ngFor="let tipoNegocio of catTipoNegocio">
              {{tipoNegocio.tipoNegocio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
  
        <div class="form-group col-md-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Rango De Monto Desde</mat-label>
            <input matInput #input maxlength="10" placeholder="$ 5,000.00" moneda formControlName="precioDesde">
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Rango De Monto Hasta</mat-label>
            <input matInput #input maxlength="10" placeholder="$ 5,000.00" moneda formControlName="precioHasta">
          </mat-form-field>
        </div>

     

    </div>

  </div>


  <div class="text-lg-right movil">
    <button mat-stroked-button class="btn-colorRe mr-3" (click)="formSaleEq.reset()">Limpiar</button>
    <button mat-stroked-button class="btn-colorRe" (click)="buscarResultadosEquipamiento()">Buscar </button>

  </div>
</form>
<div *ngIf="mos=='visible'" class="menos"><i  (click)="mos='oculto'" class="fas fa-angle-down fa-4x centrar flecha "></i></div>

<div  *ngIf="vacio">
 
  
 <!--  <br>
  <h3 class="text-secondary ">Todos:</h3> -->
  
<div class="row m-4 container sin" >
  
  <div class="col-md-4 mb-4" *ngFor="let resultados of BDRegistros">
    <mat-card class="example-card container  tarjeta" (click)="perfil(resultados.id)">
      <mat-card-title style="font-size: 18px;">{{resultados.tipoNegocio}}</mat-card-title>
      <mat-card-subtitle style=" height: 24px;font-size: 16px;">{{resultados.nombre}}</mat-card-subtitle>
      <img mat-card-image [src]="resultados.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
      <mat-card-content>
        <p matline>
          <mat-card-subtitle style="font-size: 16px;"> Precio: <b>MXN {{resultados.monto | currency}}</b>
          </mat-card-subtitle>
        </p>
     
        <p matLine>
          <mat-card-subtitle style="font-size: 14px;"> Descripción: <b>
              {{resultados.descripcion}} </b>
          </mat-card-subtitle>
        </p>
        <p matLine>
          <mat-card-subtitle style="font-size: 14px; ;">Estado: <b>{{resultados.estado}}</b>
          </mat-card-subtitle>
        </p>
        <p matLine  class="mas">
          <mat-card-subtitle style="font-size: 16px; ; text-align: center;">Ver más..
          </mat-card-subtitle>
        </p>
      </mat-card-content>
    </mat-card>
  </div>




</div>
</div>
<br>
<hr>
<!-- Busqueda con parametros-->

<div class="m-5 buscador-liquides sin" *ngIf="mostrar">
  <div class="m-4 sin">
    <!-- INICIALIZACION DEL BUSCADOR -->
    <div class="row animated fadeIn fast" *ngIf="resultadoBusquedaLiquidez.length == 0 && vacio ==false">
      <div class="col-md-12 mb-4">
        <div class="alert alert-info" role="alert">
          No existen resultados que coincidan con la busqueda.
        </div>
      </div>
    </div>

    <!-- INGRESA RESULTADOS -->

   



    <!--   BUSQUEDAS CONCRETAS -->
    <div class="row m-4 container sin">
      <div class="col-md-4 mb-4" *ngFor="let resultados of resultadoBusquedaLiquidez">
        <mat-card class="example-card container  tarjeta" (click)="perfil(resultados.id)">
          <mat-card-title style="font-size: 18px;">{{resultados.tipoNegocio}}</mat-card-title>
      <mat-card-subtitle style=" height: 24px;font-size: 16px;">{{resultados.nombre}}</mat-card-subtitle>
      <img mat-card-image [src]="resultados.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
      <mat-card-content>
        <p matline>
          <mat-card-subtitle style="font-size: 16px;"> Precio: <b>MXN {{resultados.monto | currency}}</b>
          </mat-card-subtitle>
        </p>
     
        <p matLine>
          <mat-card-subtitle style="font-size: 14px;"> Descripción: <b>
              {{resultados.descripcion}} </b>
          </mat-card-subtitle>
        </p>
        <p matLine>
          <mat-card-subtitle style="font-size: 14px; ;">Estado: <b>{{resultados.estado}}</b>
          </mat-card-subtitle>
        </p>
        <p matLine  class="mas">
          <mat-card-subtitle style="font-size: 16px; ; text-align: center;">Ver más..
          </mat-card-subtitle>
        </p>
      </mat-card-content>
        </mat-card>
      </div>





    </div>

  </div>
</div>