<nav class="navbar bg-light navbar-expand-md ">
    <a class="navbar-brand navmovil" routerLink="/home"><img src="../../../assets/img/nav4.png"
            style="width: 25%; margin-bottom:-9%;  margin-top: -16%;  margin-left: -10px !important; z-index: 99!important; "></a>
    <!--  <a class="navbar-brand" routerLink="/home"><p style="font-family: calibri;">SUN</p></a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/img/nav4.png" class="nv4" style="width: 25%; margin-bottom:-14%;  margin-top: -12%;  display: flex;
        align-items: left;
        justify-content: left; "> <span class="material-icons mt-1 mr-3">menu </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">


            <ng-container *ngIf="verinicio">
                <span class="example-spacer"></span>
                <!--  <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/esp/info-invers">¿Eres Inversionista?</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/esp/info-help">¿Necesitas Apoyo?</a>
                </li> -->
                <!-- <li class="nav-item">
                <a mat-button class="nav-link btn-colorRe" routerLinkActive="active" routerLink="user/register" color="primary"> Registrate</a>
            </li> -->



        
        <!--     <li class="nav-item navMov">
                <a class=" nav-link txt" routerLink="/home">Inicio</a>
            </li> -->
                <li class="nav-item">
                    <a class=" nav-link txt" routerLink="/esp/info-invers">¿Eres Inversionista?</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link txt" routerLink="/esp/info-help">¿Necesitas Apoyo?</a>
            <!--     </li>
                <li class="nav-item">
                    <a mat-button color="warn" class="nav-link btn-color2 text-white"
                        routerLink="/user/register/investment"
                        (click)="mostrarLoginFuncion()"
                        >Regístrate Gratis</a>
                </li> -->
                <li class="nav-item">
                    <a mat-button color="warn" class="nav-link btn-color text-white"
                        (click)="mostrarLoginFuncion()"
                     
                        >Iniciar Sesión</a>
                </li>
            </ng-container>

            <ng-container *ngIf="verperfil">


                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/investment">Buscar </a>
                </li>


                <!-- <li class="nav-item">
                   
                    <p mat-button class="nav-link font-weight-bold txt" *ngIf="isInversionista === false">Empresario:</p>
                </li>
                <li class="nav-item">
                    <p mat-button class="nav-link font-weight-bold txt" *ngIf="isInversionista">Inversionista:</p>
                </li> -->

                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/business">Registrar Negocio</a>
                </li>

                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/membership">Membresías</a>
                </li>

                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink (click)="irMiPerfil()">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a mat-button color="warn" class="nav-link btn-color text-white sesion" (click)="onLogout()">Cerrar
                        Sesión</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>

<app-pages></app-pages>

<app-footer></app-footer>