.example-icon {
    padding: 0 5px;
}

.example-spacer {
    flex: 1 1 auto;
}
/* #318aac */
.nav-item{
    margin: 3px;
}
.btn-color {
    background-color: #57409F !important;
    font-weight: 500;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #57409F;
    transition: all 1s ease;
    position: relative;
}

.btn-color:hover {
    cursor: pointer;
}

.btn-colorRe {
    color: #5d686b !important;
    font-weight: 500;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #5d686b;
    transition: all 1s ease;
    position: relative;
}

.btn-colorRe:hover {
    cursor: pointer;
}

.btn-colorCe {
    color: #dd4b39 !important;
    font-weight: 500;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #dd4b39;
    transition: all 1s ease;
    position: relative;
}

.btn-colorCe:hover {
    cursor: pointer;
}