<nav class="navbar bg-light navbar-expand-lg ">
    <a class="navbar-brand" routerLink="/home"><img src="../../../assets/img/nav3.png" style="width: 30%; margin-bottom:-9%;  margin-top: -16%;  margin-left: -20px !important; text-shadow:2px 2px 17px rgb(0, 0, 0) !important"></a>
    <!--  <a class="navbar-brand" routerLink="/home"><p style="font-family: calibri;">SUN</p></a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons">menu </span>  
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a mat-button class="nav-link" routerLink="/politicaPrivacidad">Aviso de Privacidad</a>
            </li>

            <ng-container *ngIf="verinicio">
                <span class="example-spacer"></span>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/esp/info-invers">¿Eres Inversionista?</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/esp/info-help">¿Necesitas Apoyo?</a>
                </li>
                <!-- <li class="nav-item">
                <a mat-button class="nav-link btn-colorRe" routerLinkActive="active" routerLink="user/register" color="primary"> Registrate</a>
            </li> -->
                <li class="nav-item">
                    <a mat-button color="warn" class="nav-link btn-color text-white" routerLink="/user/login">Iniciar Sesión</a>
                </li>
            </ng-container>

            <ng-container *ngIf="verperfil">
                <!-- <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/result/sale" *ngIf="isInversionista">Buscar</a>
                </li> -->

                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/business" *ngIf="isInversionista === false">Apoyo a Tu Negocio</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/investment" *ngIf="isInversionista">Invertir</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/membership" *ngIf="isInversionista">Membresías</a>
                </li>

                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink (click)="irMiPerfil()">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a mat-button color="warn" class="nav-link btn-color text-white sesion" (click)="onLogout()">Cerrar Sesión</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>

<app-pages></app-pages>
<app-footer></app-footer>