<div class="container mb-4">

    <div class="titulo text-center w-100 mt-4">
        <h1>MEMBRESÍAS</h1>
    </div>

    <div class="row container-cards mt-4">

        <div class="col-lg-4 col-md-6 col-sm-12 my-3" *ngFor="let item of response">
            <mat-card class="card-wrapper mat-elevation-z8">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{ item.titulo }}</mat-card-title>
                    <mat-card-subtitle>{{ item.costo > 0 ? ((item.costo | currency) + '+ IVA MXN') : 'GRATIS' }} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let benef of item.beneficios" mulitple="true">
                        <mat-icon [ngClass]="benef.activo ? 'success' : 'delete'" mat-list-icon>{{ benef.activo ? 'check_circle' : 'remove_circle'}}</mat-icon>
                        <div mat-line>{{ benef.desc | titlecase }}</div>
                    </mat-list-item>
                </mat-list>

                </mat-card-content>
                <mat-card-actions>
                    <div class="text-center">
                        <button mat-stroked-button class="btn-colorRe" routerLink="/pay">Seleccionar</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>