<div class="container">
  <mat-card class="example-card mg">
    <mat-card-header>
      <mat-card-title>
        <div class="reasons">
          <h2>¿QUE TIPO DE INVERSIÓN NECESITAS?</h2>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-tab-group mat-align-tabs="center" class="container">

      <mat-tab label="Inversión">
        <h3>¿Deseas Invertir?</h3>
        <p>
          En SUN te damos las mejores opciones de empresas o negocios en los cuales invertir a partir del giro de tu interés.
        </p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresa los datos de acuerdo al negocio o empresa o negocio en el que te gustaria invertir para poder ver resultados más cercanos a lo que estas buscando,
no olvides revisar el porcentaje de utilidad que te ofrecerá tu nuevo socio.
        </p>
        <div class="text-lg-right">
          <button mat-stroked-button class="btn-colorRe" routerLink="/user/register/investment"  *ngIf="ocultarRegistro">
            Registrarte
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Traspaso">
        <h3>¿Buscas un Traspaso de Negocio?</h3>
        <p>Para un traspaso te ponemos en contacto con negocios interesados.</p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresas los datos y características básicas del negocio que deseas adquirir mediante un traspaso para que podamos realizar una búsqueda adecuada a tus necesidades, luego te contactaremos con los negocios que coincidan con tus preferencias para que puedas elegir la mejor opción y al final, te ayudamos a cerrar el trato de una forma segura y de la mejor manera.
¡No esperes más! </p>
        <div class="text-lg-right">
          <button mat-stroked-button class="btn-colorRe" routerLink="/user/register/investment"  *ngIf="ocultarRegistro">
            Registrarte
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Equipamiento">
        <h3>¿Necesitas Equipamiento para tu Negocio?</h3>
        <p>
          Si buscas equipo y mobiliario para tu negocio, este es el sitio perfecto para encontrar equipos en buena calidad buscando desde filtros específicos, de acuerdo, a tus necesidades.
        </p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresa los datos y mobiliario y/o equipo que buscas para tu negocio, encontraras mobiliario que cumplan tus requisitos y poder cerrar el trato con personas de confianza.
        </p>
        <div class="text-lg-right">
          
          <button mat-stroked-button class="btn-colorRe" routerLink="/user/register/investment"  *ngIf="ocultarRegistro">
            Registrarte
          </button>
        </div>
      </mat-tab>
      
    </mat-tab-group>
  </mat-card>
</div>