<div class="main-container">
  <h3>Adquiere negocios en traspaso</h3>
</div>

<form [formGroup]="formTranfer">
  <div class="main-container">

    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado" (selectionChange)="obtenerMunicipios()">
            <mat-option [value]="estado.nombreEstado" *ngFor="let estado of catEstados">{{estado.nombreEstado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="municipio">
            <mat-option [value]="municipio.nombreMunicipio" *ngFor="let municipio of catMunicipios">
              {{municipio.nombreMunicipio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Tipo de Negocio</mat-label>
          <mat-select formControlName="tipoNegocio">
            <mat-option [value]="tipoNegocio.tipoNegocio" *ngFor="let tipoNegocio of catTipoNegocio">
              {{tipoNegocio.tipoNegocio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    

     
        <div class="form-group col-md-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Precio desde </mat-label>
            <input matInput #input maxlength="10" placeholder="$ 5,000.00" moneda formControlName="precioDesde">
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Precio hasta</mat-label>
            <input matInput #input maxlength="10" placeholder="$ 5,000.00" moneda formControlName="precioHasta">
          </mat-form-field>
        </div>

     

    </div>

  </div>


  <div class="text-lg-right movil">
    <button mat-stroked-button class="btn-colorRe mr-3" (click)="formTranfer.reset()">Limpiar</button>
    <button mat-stroked-button class="btn-colorRe" (click)="buscarResultadosTranspasos()">Buscar </button>

  </div>
</form>


<!-- MAIN          BUSCADOR SALVADOR                 MAIN-->

<div class="m-5 buscador-liquides sin" *ngIf="mostrar">
  <div class="m-4 sin">
    <!-- INICIALIZACION DEL BUSCADOR -->
    <div class="row animated fadeIn fast" *ngIf="resultadoBusquedaLiquidez.length == 0 && vacio ==false">
      <div class="col-md-12 mb-4">
        <div class="alert alert-info" role="alert">
          No existen resultados que coincidan con la busqueda.
        </div>
      </div>
    </div>

    <!-- INGRESA RESULTADOS -->

    <div class="row animated fadeIn fast" *ngIf="vacio">
      <div class="col-md-12 mb-4">
        <div class="alert alert-info" role="alert">
          Ingresa parametros para iniciar una busqueda.
        </div>
      </div>
    </div>



    <!--   BUSQUEDAS CONCRETAS -->
    <div class="row m-4 container sin">
      <div class="col-md-4 mb-4" *ngFor="let resultados of resultadoBusquedaLiquidez">
        <mat-card class="example-card container  tarjeta">
          <mat-card-header class="container sin" style="width: 95%;">
            <!--  <div mat-card-avatar class="example-header-image"><img [src]="resultados.imagenes[0]" alt=""
                  style="width: 40px; height: 40px; border-radius: 25px;"></div> -->


          </mat-card-header>
          <mat-card-title style="font-size: 18px;">{{resultados.tipoNegocio}}</mat-card-title>
          <mat-card-subtitle style="font-size: 99% ; height: 24px;">{{resultados.tipoSocio}}</mat-card-subtitle>

          <img mat-card-image [src]="resultados.imagenes[0]" alt="Photo of a Shiba Inu" style="height: 210px;">
          <mat-card-content>
            <mat-card-title style="font-size: 16px ;"> <b>Nombre: </b>{{resultados.nombre}}</mat-card-title>
            <p matLine>
              <mat-card-subtitle style="font-size: 99%"> <b>Monto de Inversion: </b><i>{{resultados.monto}}$</i>
              </mat-card-subtitle>
            </p>
            <p matLine>
              <mat-card-subtitle style="font-size: 99% ;"> <b>Estado: </b><i>{{resultados.estado}}</i>
              </mat-card-subtitle>
            </p>
            <p matLine>
              <mat-card-subtitle style="font-size: 99%;"> <b>Municipio/Delegacion: </b><i>{{resultados.municipio}}</i>
              </mat-card-subtitle>
            </p>
          </mat-card-content>
          <mat-card-actions class="contact ">
            <button mat-button (click)="perfil(resultados.id)" style="width: 100%; ">Contactar</button>
          </mat-card-actions>
        </mat-card>
      </div>





    </div>

  </div>
</div>