<div class="main-container">
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="formRegistrar">
            <div class="modal-header">
                <div>
                    <h3 class="modal-title" id="modalMyProductsLabel">Necesitamos datos complementarios para registrate, Posterior inicia sesión con {{this.data.provider}}</h3>
                </div>
            </div>
            <div class="form-row reasons">
                <div class="form-group col-md-12 mt-3 mb-3">
                    <mat-form-field class="col-md-5">
                        <mat-label>Número de telefono</mat-label>
                        <input matInput [OnlyNumber]="true" formControlName="telefono" maxlength="10">
                    </mat-form-field>
                    <mat-form-field class="col-md-5">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellidoMaterno">
                    </mat-form-field>


                    <mat-form-field class="col-md-5">
                        <input matInput placeholder="Ingresa tu código postal" formControlName="cp" [OnlyNumber]="true" maxlength="5">
                        <mat-error>Ingresa 5 caracteres</mat-error>
                    </mat-form-field>



                    <mat-form-field class="col-md-5">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado" (selectionChange)="obtenerMunicipios()">
                            <mat-option *ngFor="let estado of catEstados" [value]="estado.nombreEstado">{{estado.nombreEstado}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="col-md-5">
                        <mat-label>Municipio</mat-label>
                        <mat-select formControlName="municipio">
                            <mat-option *ngFor="let municipio of catMunicipios" [value]="municipio.nombreMunicipio">{{municipio.nombreMunicipio}}</mat-option>
                        </mat-select>
                    </mat-form-field>



                    <mat-form-field class="col-md-5">
                        <mat-label>Colonia</mat-label>
                        <mat-select formControlName="dir1">
                            <mat-option *ngFor="let colonia of catColonias" [value]="colonia.nombreColonia">{{colonia.nombreColonia}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="col-md-5">
                        <input matInput placeholder="Ingresa tu calle" formControlName="dir2" minlength="4">
                        <mat-error>Minimo de 4 caracteres</mat-error>
                    </mat-form-field>


                    <mat-form-field class="col-md-5">
                        <mat-label>Tipo de ususario</mat-label>
                        <mat-select formControlName="isInversionista">
                            <mat-option value="true" (click)="inversionista = true">Inversionista</mat-option>
                            <mat-option value="false" (click)="inversionista = false">Empresario</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>


            <div class="modal-footer">
                <div class="example-button-row">
                    <button mat-raised-button class="bg-info text-white" (click)="onNoClick()">Cerrar</button>
                    <button class="btn guardar ml-3" mat-raised-button (click)="registrar()" [disabled]="this.formRegistrar.invalid">Registrarme</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>

</div>