<div class="main-container">
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="formRegistrar">
            <div class="modal-header">
                <div>
                    <h3 class="modal-title" id="modalMyProductsLabel">Necesitamos datos complementarios para registrate, Posterior inicia sesión con {{this.data.provider}}</h3>
                </div>
            </div>
            <div class="form-row reasons">
                <div class="form-group col-md-12 mt-3 mb-3">
                    <mat-form-field class="col-md-5">
                        <mat-label>Número de telefono</mat-label>
                        <input matInput [OnlyNumber]="true" formControlName="telefono">
                    </mat-form-field>
                    <mat-form-field class="col-md-5">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellidoMaterno">
                    </mat-form-field>

                    <mat-form-field class="col-md-5">
                        <mat-label>Tipo de ususario</mat-label>
                        <mat-select formControlName="isInversionista">
                            <mat-option value="true" (click)="inversionista = true">Inversionista</mat-option>
                            <mat-option value="false" (click)="inversionista = false">Empresario</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-md-5" *ngIf="inversionista">
                        <mat-label>Tipo de membresía</mat-label>
                        <mat-select formControlName="tipoMembresia">
                            <mat-option value=1>Plan estándar</mat-option>
                            <mat-option value=2>Plan destacato</mat-option>
                            <mat-option value=3>Plan premium</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="modal-footer">
                <div class="example-button-row">
                    <button mat-raised-button class="bg-info text-white" (click)="onNoClick()">Cerrar</button>
                    <button class="btn guardar ml-3" mat-raised-button (click)="registrar()" [disabled]="this.formRegistrar.invalid">Registrarme</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>

</div>