
<div class="container" >
    <mat-card class="example-card"  >
        <mat-card-header>
            <mat-card-title>
                <h2>¿Que estas buscando?</h2>   
            </mat-card-title>
        </mat-card-header>
        <mat-tab-group mat-align-tabs="center" class="container">
            <mat-tab label="Inversión" >
                <app-member></app-member>
                
            </mat-tab>
            <mat-tab label="Traspaso">
                <app-tranfer></app-tranfer>
            </mat-tab>
            <mat-tab label="Equipamiento">
                <app-sale-equi></app-sale-equi>
            </mat-tab>
        </mat-tab-group>
       <!-- 
        <app-result-sale ></app-result-sale>
       -->
    </mat-card>
</div>
<!-- 
<app-result-sale></app-result-sale> -->
