
.containers .mat-form-field  {
  margin-left: 8px;
}

.main-container {
  width: 100%;
}

h3{
  text-align: center;
}

p{
  text-align: justify;
  margin: 10px 0 16px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-colorRe {
  color: #57409F !important;
  font-weight: 500;
  background: #ddeafb !important;
  border: 2px solid;
  border-color: #57409F;
  transition: all 1s ease;
  position: relative;
}
.btn-colorRe:hover {
  background: #57409F;
  color: #fff !important;
}

/**/
button:disabled {
  border: 2px solid #ccc;
  color: #ccc;
}
button:hover:disabled {
  border: 2px solid #ccc;
  color: #ccc;
}

.table-container img {
  width: auto;
  max-height: 100px;
}

table tbody tr td {
  vertical-align: middle;
}

.btn-eliminar {
  transform: rotate(45deg);
}

.btn-upload {
  background-color: #63519c;
  color: #fff;
}
button:focus {
  outline: none;
}

.etiquetax{
  margin-left: 1%;
  color: rgb(133, 133, 133);
  float: left;
  margin-right: 2% !important;
  }
.btn-colorRe:disabled,
button[disabled]{
  background: #ffffff !important;
     border: 1px solid #b4b4b4;
     background-color: #cccccc;
     color: #a8a8a8 !important;
}
.btn-colorRe:disabled:hover,
button[disabled]{
  background: #ffffff !important;
     border: 1px solid #b4b4b4;
     background-color: #cccccc;
     color: #a8a8a8 !important;
}