<div class="container mt-5" >
    <mat-card class="example-card p-5">
        <h1>AVISO DE PRIVACIDAD</h1>
        <p>Salva un negocio denominado por las siglas SUN, se compromete con la protección de sus Datos Personales, de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante LFPDPPP), con el fin de darle a conocer la información relativa a las características principales del tratamiento al que serán sometidos sus Datos Personales para el servicio de pago de membresías e información básica de contacto entre usuarios inversionistas y negocios, emite el presente Aviso de Privacidad:</p>
                    
        <h2>TRATO DE DATOS PERSONALES</h2>
        Verificar, confirmar y validar la identidad de cada usuario.
        Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales:
        <ul>
            <li>Nombre completo.</li>
            <li>Teléfono fijo y/o celular.</li>
            <li>Correo electrónico.</li>
            <li>Dirección.</li>
        </ul>
        SUN solicita los siguientes documentos para llevar a cabo el proceso de identidad: 
        
        <ul>
            <li>1. Como negocio:</li>
            <ul>
                <li>Comprobante de domiclio que avale la dirección de dicho estableciemiento o negocio, y/o bien acta constitutiva.</li>
                <li>INE o pasaporte.</li>
                <li>RFC.</li>
            </ul>
            <li>2. Como Socio inversionista:</li>
            <ul>
                <li>INE o Pasaporte.</li>
                <li>RFC.</li>
                <li>Propuesta de inversión (opcional).</li>
            </ul>
        </ul>
        <p>El usuario podrá eliminar su perfil al término de la membresía, con la seguridad de que SUN no contará con ninguna tarjeta enrolada dentro del servicio (no almacenamos datos bancarios). De esta manera su perfil de pagos desaparecerá y tendrá que volverse a dar de alta en el mismo en caso de que quiera volver a hacer uso del Servicio.
            SUN comparte los Datos Personales de empresa / negocios unicamente con los inversionistas que ocupen créditos para contacto; en caso de ser  empresa /negocio los datos del inversionista no estarán visibles, ni podrán contactar al socio inversionista hasta que éste se ponga en contacto con dicho negocio.</p>
        <h2>MODIFICACIONES AL AVISO DE PRIVACIDAD.</h2>
        <p>Las actualizaciones al presente Aviso de Privacidad, serán notificadas a través del sitio de internet <a href="www.salvaunnegocio.com.mx">www.salvaunnegocio.com.mx</a>.</p>
    </mat-card>
</div>