<div class="container mt-5">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Politica de privacidad</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-tab-group mat-align-tabs="center" class="container">
            <mat-tab label="Aviso de Privacidad" >
                <mat-card>
                    <p>Salva un negocio denominado por las siglas SUN, se compromete con la protección de sus Datos Personales, de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante LFPDPPP), con el fin de darle a conocer la información relativa a las características principales del tratamiento al que serán sometidos sus Datos Personales para el servicio de pago de membresías e información básica de contacto entre usuarios inversionistas y negocios, emite el presente Aviso de Privacidad:</p>
                
                    <h2>TRATO DE DATOS PERSONALES</h2>
                    Verificar, confirmar y validar la identidad de cada usuario.
                    Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales:
                    <ul>
                        <li>Nombre completo.</li>
                        <li>Teléfono fijo y/o celular.</li>
                        <li>Correo electrónico.</li>
                        <li>Dirección.</li>
                    </ul>
                    SUN solicita los siguientes documentos para llevar a cabo el proceso de identidad: 
                    
                    <ul>
                        <li>1. Como negocio:</li>
                        <ul>
                            <li>Comprobante de domiclio que avale la dirección de dicho estableciemiento o negocio, o bien acta constitutiva.</li>
                            <li>INE o pasaporte.</li>
                            <li>RFC.</li>
                        </ul>
                        <li>2. Como Socio inversionista:</li>
                        <ul>
                            <li>INE o Pasaporte.</li>
                            <li>RFC.</li>
                            <li>Propuesta de inversión (opcional).</li>
                        </ul>
                    </ul>
                  
                    <p>El usuario podrá eliminar su perfil al término de la membresía, dando de baja todas las tarjetas enroladas dentro del Servicio. De esta manera su perfil de pagos desaparecerá y tendrá que volverse a dar de alta en el mismo en caso de que quiera volver a hacer uso del Servicio.
                    SUN comparte los Datos Personales de empresa / negocios unicamente con los inversionistas que ocupen créditos para contacto; en caso de ser  empresa /negocio los datos del inversionista no estarán visibles, ni podrán contactar al socio inversionista hasta que éste se ponga en contacto con dicho negocio.
                    MODIFICACIONES AL AVISO DE PRIVACIDAD.
                    Las actualizaciones al presente Aviso de Privacidad, serán notificadas a través del sitio de internet <a href="www.salvaunnegocio.com.mx">www.salvaunnegocio.com.mx</a>.</p>
                </mat-card>
            </mat-tab>
            <mat-tab label="Términos y Condiciones">
                <mat-card>
                <p>Las membresías son personales e Intransferibles, su uso aplica únicamente como crédito para contacto entre inversionistas y negocios de forma variable, dependiendo el plan mensual seleccionado. (Las tarifas aplican precio más IVA) 
                    Salva un negocio está dirigido a pequeñas, medianas y grandes empresas que necesiten apoyo financiero de un socio inversionista.</p>
                    <p>Es requisito necesario para la adquisición del servicio de membresías que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestras membresías implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente escrito. El servicio ofrecido por nuestro sitio web <a href="www.salvaunnegocio.com.mx">www.salvaunnegocio.com.mx</a> es exclusivo de la página.</p> 
                    <p>Para adquirir un servicio de mebresías o alta de negocio, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos, correo y definición de un password. El usuario puede elegir y cambiar el password para acceso y administración de la cuenta en cualquier momento, en caso de olvido de este, su cuenta podrá ser recuperada vía correo electrónico. SUN no asume la responsabilidad en caso de que entregue dicho password a terceros.</p>
                    <p>Todas las transacciones que se lleven a cabo a través de este sitio web, están sujetas a un proceso de confirmación y validación de pago. Los datos de adquisición de membresía de su elección son enviados al correo establecido en el registro de datos personales; se pueden almacenar los métodos de pago recurrentes para renovación de membresía o hacer registro de un método de pago como única ocasión sin resguardo de datos bancarios. El pago de las membresías aplican vía tarjeta de crédito o débito.</p>
                    <p>Los precios de las memebresías ofrecidas en este Sitio Web, son válidos únicamente en las adquisiciones realizadas en este sitio web.
                    Todas las solicitudes de contacto entre inversionista y negocio son exclusivas del socio inversionista, el negocio no podrá solicitar contacto con inversionistas que no esten interesados en el negocio. Los créditos adquiridos en las memebresías no son reembolsables ni acumulables; en caso de no ser utilizados expiran al término de la memebresía selecccionada.No aplican cancelaciones de memebresías.
                    SUN se deslinda de cualquier responsabilidad por daño directo o indirecto, entre negocio - inversionista y viceversa.
                    </p>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
