<!-- <footer class="footer bg-dark rounded-top text-center">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; {{autor.nombre + ' ' + autor.apellido}}
        </p>
    </div>
</footer> -->
<footer id="sticky-footer" class="footer  bg-dark text-white-50 color">
    <div class="text-center">
      <h4 style="padding-top: 12px; margin-bottom: 4px;">Copyright &copy;  {{autor.nombre + ' ' + autor.apellido}} </h4>
      <div class="">
      <small class="" style="float: left; width: 52%; text-align:right; padding-right:3%;" > <p style="padding: 0%; margin: 0em;">Contact:contacto@ies-systems.com</p> </small>
         <small class="" style="float: left; width: 47%; text-align: left;" > 
              <p style="padding: 0%; margin: 0em;">Soport:soport@ies.com.mx</p>
           
        </small>
    </div>
    </div>
  </footer>