<footer id="sticky-footer" class="footer  color mt-0">
    <br>
    <div class="text-center center">
        
        <div class="center ">
            <p>Contact & Support: contacto@ies-systems.com</p>

            <a class="mr-4 ml-4 xd" routerLink="/esp/info-invers">¿Eres Inversionista?&nbsp;</a>
            <br class=" mvl">
            <a class="mr-4 xd" routerLink="/esp/info-help">¿Necesitas Apoyo?&nbsp;</a>
            <br class=" mvl">
            <a class="mr-4 ml-2 mv">&nbsp;</a>
            <a class="  mv">&nbsp;&nbsp;&nbsp;&nbsp;||</a>
            <a class="mr-4 mv ">&nbsp;</a>
            <a class="mr-4 ml-4 xd" href="/politicaPrivacidad">   Política de Privacidad &nbsp;</a>
                <br class=" mvl">
            <a class="mr-4  xd" href="/terminos-condiciones">Términos y Condiciones&nbsp;</a>

            <h4 class="mt-2" >Copyright &copy; {{autor.nombre + ' ' + autor.apellido}} </h4>

            <br>
        </div>
    </div>
</footer>