.footer{
    height: 90px;
    width: 100%;
    /* position: absolute;
    top: 101%;
    margin-top: 0px !;  */
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.color {
  background: linear-gradient(to bottom,  #eceaf0, #fff);
  color: rgb(129, 129, 129) !important;
}
.center {
  
  /*  display: flex;
   align-items: center;
   justify-content: center; */
  /*  display: flex; */
   margin: 0 auto;
 }
 @media screen and (max-width: 770px) {

.mv{
  display: none;
}
.xd{
  margin: 0 !important;
    }

 }
 @media screen and (min-width: 770px) {

  
  .mvl{
    display: none;
  }
 
  
   }