<!-- <footer class="footer bg-dark rounded-top text-center">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; {{autor.nombre + ' ' + autor.apellido}}
        </p>
    </div>
</footer> -->
<footer id="sticky-footer" class="footer bg-dark text-white-50 color">
    <div class="text-center">
        <h4>Copyright &copy; {{autor.nombre + ' ' + autor.apellido}} </h4>
        <div class="">
            <p>Contact: contacto@ies-systems.com</p>
        </div>
    </div>
</footer>