.footer{
    height: 70px;
    width: 100%;
    margin-top: 20px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

.color {
  background: #007bff;
  background: linear-gradient(to right, #4b3786, #57409f);
}