<div class="main-container">
    <p>¿Necesitas Vender Equipamiento de tu Negocio?
        <span>Si te quedaste con el equipo y Mobiliario de tu Negocio que has decidido cerrar, puedes publicar la venta
            de dicho equipamiento y te ponemos en contacto con la gente interesada en adquirir tus activos:Mobiliario
            y/o Equipo.
        </span>
    </p>
    <h3>¿Como Funciona?</h3>
    <span>Ingresa los datos y Mobiliario y/o Equipo de tu negocio para que miles de personas encuentren lo que
        necesitan, solicitarán contactar contigo y comenzaran la oferta.</span>
</div>
<form [formGroup]="formSale">
    <div class="main-container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Nombre del Negocio*</mat-label>
                    <input matInput #input maxlength="20" placeholder="Nombre de tu negocio" formControlName="nombre">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Negocio*</mat-label>
                    <mat-select formControlName="tipoNegocio">
                        <mat-option [value]="tipoNegocio.tipoNegocio" *ngFor="let tipoNegocio of catTipoNegocio">{{tipoNegocio.tipoNegocio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Monto Total del Mobiliario*</mat-label>
                    <input matInput placeholder="$ 100,000.00" formControlName="monto" moneda [OnlyNumber]="true">
                </mat-form-field>
            </div>

            <div class="form-group col-md-12">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Calle*</mat-label>
                    <input matInput #input maxlength="60" placeholder="Calle" formControlName="ubicacion">
                    <mat-error>Ingresa mínimo 3 caracteres</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Estado*</mat-label>
                    <mat-select formControlName="estado" (selectionChange)="obtenerMunicipios()">
                        <mat-option [value]="estado.nombreEstado" *ngFor="let estado of catEstados">{{estado.nombreEstado}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Municipio*</mat-label>
                    <mat-select formControlName="municipio">
                        <mat-option [value]="municipio.nombreMunicipio" *ngFor="let municipio of catMunicipios">{{municipio.nombreMunicipio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group ">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Describe o Lista el Mobiliario y/o Equipo a vender*</mat-label>
                <textarea matInput #input maxlength="200" placeholder="Lista del Mobilario" formControlName="descripcion"></textarea>
                <mat-error>Ingresa mínimo 5 caracteres</mat-error>
            </mat-form-field>
        </div>
        <div class="w-100 mb-4">
            <div class="form-group">
                <!-- <label for="file" class="labels">Selecciona tu nueva imagen:</label> -->
                <input #fileInput name="files[]" style="display: none;" type="file" (change)="onFileSelected($event)" accept="application/jpeg">
                <button mat-raised-button type="button" class="btn-upload" (click)="fileInput.click()">
                    Subir imagen
                    <mat-icon class="ml-2">cloud_upload</mat-icon>
                </button>
            </div>
        </div>


        <div class="table-container" *ngIf="imagesArray.length > 0">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody formArrayName="imagenes" *ngFor="let item of formSale['controls'].imagenes['controls']; let i=index;">
                    <tr [formGroupName]="i">
                        <td>
                            <button mat-icon-button color="warn" (click)="deleteImage(i)" class="btn-eliminar">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </td>
                        <td *ngIf="item?.value?.nuevaImagen"><img [src]="'data:'+item.value.type+';base64,'+item.value.imgBase" class="img-fluid"></td>
                        <td *ngIf="!item?.value?.nuevaImagen"><img [src]="item?.value?.imgBase" class="img-fluid"></td>
                        <td>{{ item.value.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="text-lg-right">
            <button mat-stroked-button class="btn-colorRe mb-3" *ngIf='this.esConsulta==false' (click)="consultar()" [disabled]="formSale.invalid">Publicar</button>

            <button mat-stroked-button class="btn-colorRe mb-3" *ngIf='this.esConsulta' (click)="actualizar()" [disabled]="formSale.invalid">Actualizar</button>
        </div>
    </div>
</form>